# Configuration file to be used when running RNAseq alignment to BTC

process {
    // If there are samples with no aligned reads ignore the errors and proceed with the analysis
    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args       = '--skipQuant --minAssignedFrags 1'
        errorStrategy  = 'ignore'
        maxRetries     = 0
    }

    // Allow RSEM continue if there are errors with short reads
    withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_RSEM:RSEM_CALCULATEEXPRESSION' {
        errorStrategy = 'ignore' // optional: continue even if RSEM fails on some samples
        maxRetries = 0
    }

    // Skip the DESeq2 QC step by disabling the process
    withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_RSEM' {
        when = false
    }
}
